@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Outfit:wght@100..900&display=swap");

:root {
  --primaryColor: #50bbfd;
  --secondaryColor: #111204;
}

* {
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: #111204;
  color: #ffffff;
}

.container {
  margin: 0 auto;
  width: 1141px;
}

@media (max-width: 1200px) {
  .container {
    width: 90%;
  }
}

.title {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  color: inherit;
}

.dark {
  color: var(--secondaryColor);
}

.desc {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  color: inherit;
}

.min {
  font-size: 16px;
  font-weight: 400;
  color: var(--primaryColor);
  text-transform: uppercase;
}

.active-btn:active {
  opacity: 0.9;
  transition: 0.3s;
  transform: scale(0.98);
}

@media screen and (max-width: 500px) {
  .title {
    font-size: 28px;
  }
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
  font-size: 25px !important;
}

@media screen and (max-width: 900px) {
  .slick-prev:before,
  .slick-next:before {
    display: none !important;
  }
}
